{% extends 'base.html' %}

{% block content %}
    <div>
      <a href="{% url 'blogPosts:index' %}">home</a>
      <h1>{{ post.title }}</h1>
      <p style="width: 70%;">{{ post.content }}</p>
      <a href="{% url 'blogPosts:delete' id=post.id %}">Delete</a> <!-- add -->
          <!-- 여기서부터 새로 추가한 코드 -->
              <p><strong>There are n comments </strong><p>
          {% for comment in post.comment_set.all %}
            <p>
              {{ comment.content }}
            </p>
          {% endfor %}
          <!-- 새 코드 끝 -->
    </div>
{% endblock content %}